
:root{
    --pink:#eea196;
    --orange:#ffaf47;
    --light-green:#8ebf73;
    --white:#ffffff;
    --dark-green:#141f12;
}

*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding:1rem 1rem;
    color:white;
    background: var(--dark-green);
    display:flex;
    justify-content: space-between;
    align-items: center ;
    position: sticky;
}

input{
    border-radius: 5px;
    padding:.2rem 0;
    padding-left: .5rem;
    border: none;
    outline:none;
}

.container{
    background: var(--light-green);
}

main{
    height:90vh;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top:5rem;
}

nav ul{
    display:flex;
    flex-flow:row nowrap;
    text-decoration: none;
    list-style: none;
    
}

ul li{
    padding:0rem 1rem;
}