
:root{
    --pink:#eea196;
    --orange:#ffaf47;
    --light-green:#8ebf73;
    --white:#ffffff;
    --dark-green:#141f12;
}

*{
    /* border:1px solid black; */

}

*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 120vh;
}

body{
    height:100%;
    display:grid;
    grid-template-areas: 
    'nav nav nav'
    'main main main'
    'footer footer footer';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 1fr 5rem;
}

nav{
    padding:1rem 1rem;
    color:white;
    background: var(--dark-green);
    display:flex;
    justify-content: space-between;
    align-items: center ;
    position: sticky;
    grid-area: nav;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    text-decoration: none;
    list-style: none;

}

ul li {
    padding: 0rem .2rem;
}

ul li:first-child{
    border-right: 1px solid black;
}

input{
    border-radius: 5px;
    padding:.5rem 0;
    padding-left: .5rem;
    border: none;
    outline:none;
    max-width: 300px;
    width: 30vw;
}

main{
    background: var(--light-green);
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    '... message today-details'
    '... ... ...';
    padding-top:3rem;
    grid-area: main;
}

.weather-message{
    grid-area: message;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.weather-message img {
    align-self:center;
}


.today-details{
    grid-area: today-details;
}

.today-details > *{
    padding: 1rem 1rem;
}

footer{
    grid-area: footer;
    background: var(--dark-green)
}
